<div class="container col-md-6" style="margin-top: 10px;">
    <div class="card">
        <div class="card-header">
            <h3>Agregar tripulacion</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input #nombre type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Puesto</label>
                    <input #puesto type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Estado</label>
                    <input #estado type="text" class="form-control">
                </div>


                <button (click)="Guardar(nombre.value, puesto.value, estado.value)" class="btn btn-danger" style="margin-top: 10px;">Guardar</button>
            </form>
        </div>
    </div>
</div>